@{
    ViewBag.Title = "About";
}

<header class="masthead text-center text-white" style="height: 757px;">
    <div class="masthead-content">
        <div class="container mb-5">
            <h1 class="masthead-heading mb-0 mt-5">MyChatBot</h1>
            <h2 class="masthead-subheading mb-5">The best one ever</h2>
            
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded " src="~/img/01.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">What exactly is a chatbot?</h2>
                    <p>
                        A chatbot is an artificial intelligence (AI) software that can simulate a conversation (or a chat) with a user in natural language through messaging applications, websites, mobile apps or through the telephone.
                        Why are chatbots important? A chatbot is often described as one of the most advanced and promising expressions of interaction between humans and machines.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded" src="~/img/02.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Why chatbots are important</h2>
                    <p>Chatbot applications streamline interactions between people and services, enhancing customer experience. At the same time, they offer companies new opportunities to improve the customers engagement process and operational efficiency by reducing the typical cost of customer service.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/img/03.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Examples of chatbot uses</h2>
                    <p>Chatbot use is on the rise, both in the business and consumer markets. As chatbots get better, consumers have less to quarrel about in interacting with them. Between advanced technology and a societal transition to more passive, text-based communication, chatbots help fill a niche that phone calls used to fill.</p>
                </div>
            </div>
        </div>
    </div>
</section>